<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
{% extends 'base.html' %} {% block content %}
<div class="container my-3">
    <!-- flash 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    <!-- 질문 -->
    <h2 class="border-bottom py-2">{{ posting.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
                {{ posting.content }}
            </div>
            <div class="d-flex justify-content-end">
                {% if posting.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ posting.modify_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ posting.user.username }}</div>
                    <div>{{ posting.create_date | datetime }}</div>
                </div>

            </div>
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{{ url_for('posting.vote', pid=posting.id) }}"
                    class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ posting.voter|length }}</span>
                </a>
                {% if g.user == posting.user %}
                
                <a href="{{ url_for('posting.modify', posting_id=posting.id) }}"
                    class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{{ url_for('posting.delete', posting_id=posting.id) }}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 답변 목록 -->
    



    <br>
    <br>
    <br>

    {% for comment in posting.comment_set %}
    {% if comment.id == best %}
    <h5 class="border-bottom my-3 py-2" style="color:red;">
        Best 댓글
    </h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
                {{ comment.content }}
            </div>
            <div class="d-flex justify-content-end">
                {% if comment.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ comment.modify_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ comment.user.username }}</div>
                    <div>{{ comment.create_date | datetime }}</div>
                </div>
            </div>

            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{{ url_for('comment.vote', comment_id=comment.id) }}"
                    class="recommend btn btn-sm btn-outline-secondary"> 댓글추천
                    <span class="badge rounded-pill bg-success">{{ comment.voter|length }}</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}    
    {% endfor %}

<br>
    <h5 class="border-bottom my-3 py-2" style="color:blue;">
        시간순 댓글
    </h5>
    <br>
    <h5 class="border-bottom my-3 py-2">
        {{ posting.comment_set|length }}개의 답변이 있습니다.
    </h5>
    {% for comment in posting.comment_set %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
                {{ comment.content }}
            </div>
            <div class="d-flex justify-content-end">
                {% if comment.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ comment.modify_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ comment.user.username }}</div>
                    <div>{{ comment.create_date | datetime }}</div>
                </div>
            </div>

            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{{ url_for('comment.vote', comment_id=comment.id) }}"
                    class="recommend btn btn-sm btn-outline-secondary"> 댓글추천
                    <span class="badge rounded-pill bg-success">{{ comment.voter|length }}</span>
                </a>
                {% if g.user == comment.user %}
                <a href="{{ url_for('comment.modify', comment_id=comment.id) }}"
                    class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}">삭제</a>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="btn btn-sm btn-outline-secondary">
                <a href="{{ url_for('recomment.recomment', comment_id=comment.id) }}"
                    class="btn btn-sm btn-outline-secondary">대댓글 작성</a>
            </div>
            <!-- 대댓글 작성 폼 (숨겨진 상태) -->
            <!-- <div class="recomment-form" id="recomment-form-{{ comment.id }}" style="display: none;">
                <form action="{{ url_for('recomment.recomment', comment_id=comment.id) }}" method="post">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        <textarea {% if not g.user %}disabled{% endif %} name="content" id="content"
                            class="form-control" rows="10"></textarea>
                    </div>
                    <input type="submit" value="대댓글 등록" class="btn btn-primary">
                </form>
            </div> -->
            <!-- 대댓글 목록 -->
            {% for recomment in comment.recomment_set %}
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ recomment.content }}</div>
                    <div class="d-flex justify-content-end">
                        {% if recomment.modify_date %}
                        <div class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ recomment.modify_date|datetime }}</div>
                        </div>
                        {% endif %}
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">{{ recomment.user.username }}</div>
                            <div>{{ recomment.create_date | datetime }}</div>
                        </div>
                    </div>
                    <div class="my-3">
                        {% if g.user == recomment.user %}
                        <a href="{{ url_for('recomment.modify', recomment_id=recomment.id) }}"
                            class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                            data-uri="{{ url_for('recomment.delete', recomment_id=recomment.id) }}">삭제</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <form action="{{ url_for('comment.create', posting_id=posting.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <textarea {% if not g.user %}disabled{% endif %} name="content" id="content" class="form-control"
                rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary" />
    </form>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>

{% endblock %}